<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <main>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="livre : ${livres}">
                <td th:text="${livre.id}"></td>
                <td th:text="${livre.titre}"></td>
                <td th:text="${livre.auteur}"></td>
                <td th:text="${livre.description}"></td>
                <td th:with="condition=${#authentication.principal.id == livre.owner.id}">
            <span th:if="${condition}">
                <a th:href="@{EditLivre(id=${livre.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{DeleteLivre(id=${livre.id})}" onclick="return confirm('Are you sure you want to delete this book?')" class="btn btn-danger">Delete</a>
            </span>

                    <span th:unless="${condition}">
                        <span th:with="condition2=${echange==null}">
                            <span th:if="${!condition2}">
                                    <span th:if="${echange.owner2.id == #authentication.principal.id}">
                                        <a th:href="@{demander(id=${livre.id})}" class="btn btn-primary">Demander</a>
                                    </span>

                                <span th:unless="${condition2}">
                                    <span th:if="${echange.owner1.id == #authentication.principal.id}">
                                        <a th:href="@{choisir(id=${livre.id},ide=${echange.id})}" class="btn btn-primary">Choisir</a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
            </tbody>

        </table>
<!--        <span th:with="condition2=${echange==null}">-->
<!--                    <span th:if="${condition2}">-->
<!--                    </span>-->
<!--                    <span th:unless="${condition2}">-->
<!--                        <a th:href="@{/refuser(id=${echange.id})}" class="btn btn-danger">Refuser</a>-->
<!--                    </span>-->
<!--                </span>-->
        <!-- Ajoutez ici votre pagination -->
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentpage?'btn btn-primary':'btn'}"
                   th:href="@{Bibliotheque(id=${id}, page=${status.index}, size=${size})}"
                   th:text="${status.index+1}"></a>
            </li>
        </ul>
    </main>
</div>
</body>
</html>
