<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Edit</title>
</head>
<body>
<div layout:fragment="content">
<main class="container mt-5">
    <form th:action="@{UpdateOwner}" method="post">
        <div class="form-group">
            <label hidden="hidden" for="id">First Name : </label>
            <input hidden="hidden" type="text" id="id" name="id" th:value="${ownersVue.id}">
        </div>
        <div class="form-group">
            <label class="form-label" for="firstName">First Name : </label>
            <input  class="form-control" type="text" id="firstName" name="firstName" th:value="${ownersVue.firstName}">
        </div>
        <div class="form-group">
            <label class="form-label" for="lastName">Last Name : </label>
            <input class="form-control" type="text" id="lastName" name="lastName" th:value="${ownersVue.lastName}">
        </div>
        <div class="form-group">
            <label class="form-label" for="email">Email : </label>
            <input class="form-control" type="email" id="email" name="email" th:value="${ownersVue.email}">
        </div>
        <div class="form-group">
            <label class="form-label" for="address">Address : </label>
            <input class="form-control" type="text" id="address" name="address" th:value="${ownersVue.address}">
        </div>
        <div>
            <label class="form-label" for="phone">phone : </label>
            <input class="form-control" type="text" id="phone" name="phone" th:value="${ownersVue.phone}">
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" th:value="Edit">
        </div>
    </form>

</main>

</div>
</body>
</html>
