<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Edit</title>
</head>
<body>
<div layout:fragment="content">
<main class="container mt-5">
    <form th:action="@{UpdateOwner}" method="post"  class="row g-3 needs-validation" novalidate>


        <div class="form-group">
                        <label hidden="hidden" for="id">First Name : </label>
                        <input hidden="hidden"  id="id" name="id" th:value="${ownersVue.id}">
                    </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">First name ‍</label>
            <input  class="form-control" id="validationTooltip01" type="text" name="firstName" th:value="${ownersVue.firstName}" >
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label">Last name ‍</label>
            <input class="form-control" id="validationTooltip02" type="text" name="lastName" th:value="${ownersVue.lastName}" >

        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip03" class="form-label">Email </label>
            <input  class="form-control" id="validationTooltip03" type="email" name="email" th:value="${ownersVue.email}" >

        </div>
        <div class="col-md-6 position-relative">
            <label for="validationTooltip04" class="fom-label">Address </label>
            <input  class="form-control" id="validationTooltip04" type="text"  name="address"th:value="${ownersVue.address}" >

        </div>
        <div class="col-md-6 position-relative">
            <label for="validationTooltip05" class="form-label">Phone </label>
            <input  class="form-control" id="validationTooltip05" type="text" name="phone"th:value="${ownersVue.phone}" >

        </div>
        <div class="col-12">
            <input class="btn btn-primary" type="submit" th:value="Edit">
        </div>
    </form>

</main>

</div>
</body>
</html>
