<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Propriaitaire</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">action</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="livre : ${livres}">
            <td ><a th:text="${livre.owner.user.username}"  th:href="@{Bibliotheque(id=${livre.owner.id})}">
            </a></td>
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.auteur}"></td>
            <td th:text="${livre.description}"></td>
            <td th:with="condition=${#authentication.principal.id == livre.owner.id}">
            <span th:if="${condition}">
                <a th:href="@{EditLivre(id=${livre.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{DeleteLivre(id=${livre.id})}" onclick="return confirm('Are you sure you want to delete this book?')" class="btn btn-danger">Delete</a>
            </span>

<!--                <span th:if="${!#lists.isEmpty(echange)}">-->
<!--                        <span th:each="currentEchange : ${echange}">-->
<!--                            <span th:if="${currentEchange.livre1 != null or currentEchange.livre2 != null}">-->
<!--&lt;!&ndash;                                 <span th:with="con=${currentEchange.livre1.id == livre.id or currentEchange.livre2.id == livre.id}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <span th:if="${con}">&ndash;&gt;-->
<!--                                    <span th:with="isOwner1=${#authentication.principal.id == currentEchange.owner1.id }">-->
<!--                                        <span th:with="isOwner2=${#authentication.principal.id == currentEchange.owner2.id}">-->
<!--                                            <span th:if="${#authentication.principal.id != livre.owner.id and (isOwner1 or isOwner2)}">-->
<!--                                                <span th:if="${isOwner1}">-->
<!--                                                    &lt;!&ndash; Si l'utilisateur connecté est l'utilisateur 1 dans l'échange &ndash;&gt;-->
<!--                                                    <p>Cet utilisateur vous a fait une demande, consultez vos demandes</p>-->
<!--                                                </span>-->
<!--                                                <span th:if="${isOwner2}">-->
<!--                                                    &lt;!&ndash; Si l'utilisateur connecté est l'utilisateur 2 dans l'échange &ndash;&gt;-->
<!--                                                    &lt;!&ndash; Vous pouvez personnaliser ce message selon vos besoins &ndash;&gt;-->
<!--                                                    <p>Vous avez déjà demandé un livre à cet utilisateur</p>-->
<!--                                                </span>-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--                                    </span>-->
<!--                                </span>-->

<!--                            </span>-->
<!--&lt;!&ndash;                    <span th:unless="${con}"> </span>&ndash;&gt;-->
<!--                        </span></span>-->

<!--                </span>-->
                <span th:if="${not #lists.isEmpty(echange)}">
    <span th:with="alreadyDisplayed = false"></span>
    <span th:each="currentEchange : ${echange}">
<!--        <span th:if="${not alreadyDisplayed}">-->
            <span th:if="${currentEchange.livre1 != null}">
<!--                <span th:if="${currentEchange.livre1 == livre}">-->
                    <span th:with="isOwner1=${#authentication.principal.id == currentEchange.owner1.id }">
                        <span th:if="${isOwner1}">
                            <!-- Si l'utilisateur connecté est l'utilisateur 1 dans l'échange -->
                            <p>Cet utilisateur vous a fait une demande, consultez vos demandes</p>
                            <span th:with="alreadyDisplayed = true"></span>
                        </span>
                    </span>
<!--                </span>-->
            </span>
            <span th:if="${currentEchange.livre2 != null}">
<!--                <span th:if="${currentEchange.livre2 == livre}">-->
                    <span th:with="isOwner2=${#authentication.principal.id == currentEchange.owner2.id}">
                        <span th:if="${isOwner2}">
                            <!-- Si l'utilisateur connecté est l'utilisateur 2 dans l'échange -->
                            <!-- Vous pouvez personnaliser ce message selon vos besoins -->
                            <p>Vous avez déjà demandé un livre à cet utilisateur</p>
                            <span th:with="alreadyDisplayed = true"></span>
                        </span>
                    </span>
<!--                </span>-->
<!--            </span>-->
        </span>
    </span>
                    <span th:unless="${ #authentication.principal.id == livre.owner.id}">
                    <a th:href="@{demander(id=${livre.id})}" class="btn btn-primary">Demander</a>
                </span>
</span>


            </td>
        </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a  th:class="${status.index==currentpage?'btn btn-primary':'btn'}"
               th:href="@{ListeLivre(page=${status.index},size=${size})}"
               th:text="${status.index+1}">

            </a>
        </li>
    </ul>
    <a th:href="@{ajouterLivre}" class="btn btn-success">Add Book</a>
</main>
</div>
</body>
</html>
