<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="livre : ${livres}">
            <td th:text="${livre.id}"></td>
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.auteur}"></td>
            <td th:text="${livre.description}"></td>
            <td>
                <a th:href="@{EditLivre(id=${livre.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{DeleteLivre(id=${livre.id})}" onclick="return confirm('Are you sure you want to delete this book?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentpage?'btn btn-primary':'btn'}"
               th:href="@{ListeLivre(page=${status.index},size=${size})}"
               th:text="${status.index+1}">

            </a>
        </li>
    </ul>
    <a th:href="@{ajouterLivre}" class="btn btn-success">Add Book</a>
</main>
</div>
</body>
</html>
