<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ListeLivre}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Customers</a>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{Bibliotheque(id=${#authentication.principal.id})}" class="dropdown-item">Ma bibliothèque</a>
                    </li>
                    <li>
                        <a th:href="@{/ajouterLivre}" class="dropdown-item">Ajouter un livre</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Customers</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       th:if="${#authentication.isAuthenticated() and not #authentication.principal.can}"
                       th:href="@{CreateOwner}">New</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{OwnerList}">List</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            th:text="${#authentication.name}"
            >[username]</a>
            <ul class="dropdown-menu">
                <a sec:authorize="!isAuthenticated()" class="dropdown-item" href="#">login</a>
                <form method="post" th:action="@{/logout}">
                    <button sec:authorize="isAuthenticated()" class="dropdown-item" type="submit">logout</button>
                </form>

            </ul>
        </li>
    </ul>
</nav>
<main class="container mt-5">
    <div layout:fragment="content">

    </div>
</main>
<footer class="text-center fixed-bottom text-lg-start bg-light text-muted">

</footer>
</body>
</html>
